p {
  font-family: "Century Schoolbook", Times, serif
}

h1 {
  font-family: "Century Schoolbook", Times, serif
}

h2 {
  font-family: "Century Schoolbook", Times, serif
}

h3 {
  font-family: "Century Schoolbook", Times, serif
}
