@font-face {
  font-family: old-standard-regular;
  src: url(/holdings/fonts/old-standard/regular.otf);
}

@font-face {
  font-family: old-standard-italic;
  src: url(/holdings/fonts/old-standard/italic.otf);
}

body {
  font-family: old-standard-regular;
}

i {
  font-family: old-standard-italic;
}

/* Small Caps */
.sc {
 font-variant: small-caps;
}

/* All Caps */
.ac {
  text-transform:uppercase;
}

.i25 {
  padding-left:0.25in;
}

span.page {
  font-weight:bold;
  background-color:#0FFF50;
}

.headnote-treaty {
  text-indent: -0.25in;
  padding-left: 0.25in;
}
